@font-face {
    font-family: 'lol';
    src: url(assets/fonts/Friz\ Quadrata\ Bold.otf);
}

@font-face {
    font-family: 'lolchat';
    src: url(assets/fonts/Friz\ Quadrata\ Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lol' ;
    font-weight: bold;
}

body{
    background-image: url(assets/CelebrationBg_Arcade_2019.png);
    background-size: cover;
    display: flex;
    gap: 40px
}

#screen{
    color: azure;
    display: grid;
    justify-content: center;
}

#pontos {
    width: 100%;
    text-align: right;
    font-size: 32px;
    margin-top: 10px;
}

#titulo{
    text-shadow: aqua 0px 10px 100px;
}

#chat{
    margin-left: 10px;
    margin-top: 360px;
}

#chatlol{
    background-color: #010A13;
    border: 2px solid #54492B;
    width: 260px;
}

#spam{
    border-top:2px solid #1F262C;
    border-left:2px solid #1F262C;
    border-right:2px solid #1F262C;
    background-color: #010A13;
    height: 140px;
    
    font-family: 'chatlol';
    color: #494E54;
    font-size: 14px;
    padding: 110px 0px 0px 10px;
}

#game{
    border: 20px solid transparent;
    border-image: url(assets/Gold_Loading_Screen_Border.png) 160 round;
    width: 130vh;
    display: grid;
    border-radius: 60px;
    box-shadow: black 0px 0px 50px;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    
    height: 80vh;
    overflow:auto; 
}

#dashboardPlayer{
    color: white;
    display: flex;
    align-items: center;
    font-size: 54px;
    margin-bottom: 12px;
}

#stopwatch{
    text-align: center;
    font-size: 32px;
}

h1{
    font-size: 28px;
    text-align: center;
}

input {
    width: 190px;
    height: 28px;
    font-size: 17px;
}

button{
    width: 100px;
    height: 28;
}
button:hover{
    cursor: pointer;
}

.carta {
    background-image: url(assets/fundoCarta.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    
    border-radius: 10px;
    transition: all 0.4s;
}

.carta:hover{
    box-shadow: aqua 0px 0px 20px;
    cursor: pointer;
}

.cartaFrontal, .encontrada{
    transform: rotateY(-180deg);
    background-size: 100% 100%;
}

<<<<<<< HEAD
=======
.cartaFrontal{
    transition: 0.4s;
}


.cartaFrontal#carta1,.cartaFrontal#carta2,#carta1.encontrada,#carta2.encontrada{
    background-image: url('assets/imgs/carlos\ eduardo.jpg');
    transition: all 0.6s;
}

.cartaFrontal#carta3,.cartaFrontal#carta4,#carta3.encontrada,#carta4.encontrada{
    background-image: url('assets/imgs/davi.jpg');
}

.cartaFrontal#carta5,.cartaFrontal#carta6,#carta5.encontrada,#carta6.encontrada{
    background-image: url('assets/imgs/diego.jpg');
}

.cartaFrontal#carta7,.cartaFrontal#carta8,#carta7.encontrada,#carta8.encontrada{
    background-image: url('assets/imgs/gabriell.jpg');
}

.cartaFrontal#carta9,.cartaFrontal#carta10,#carta9.encontrada,#carta10.encontrada{
    background-image: url('assets/imgs/joaopaulo.jpg');
}

.cartaFrontal#carta11,.cartaFrontal#carta12,#carta11.encontrada,#carta12.encontrada{
    background-image: url('assets/imgs/layrton.jpg');
}

.cartaFrontal#carta13,.cartaFrontal#carta14,#carta13.encontrada,#carta14.encontrada{
    background-image: url('assets/imgs/pedrolucas.jpg');
}

.cartaFrontal#carta15,.cartaFrontal#carta16,#carta15.encontrada,#carta16.encontrada{
    background-image: url('assets/imgs/rynaldo.jpg');
}

.cartaFrontal#carta17,.cartaFrontal#carta18,#carta17.encontrada,#carta18.encontrada{
    background-image: url('assets/imgs/talles.jpg');
}

.cartaFrontal#carta19,.cartaFrontal#carta20,#carta19.encontrada,#carta20.encontrada{
    background-image: url('assets/imgs/isaque.jpg');
}

.cartaFrontal#carta21,.cartaFrontal#carta22,#carta21.encontrada,#carta22.encontrada{
    background-image: url('assets/imgs/lorran.jpg');
}

.cartaFrontal#carta23,.cartaFrontal#carta24,#carta23.encontrada,#carta24.encontrada{
    background-image: url('assets/imgs/jp.jpeg');
}




>>>>>>> 1fe26d07ade6eb2851e1f2f3dbe0e0488ad600e9
#dashboard {
    display: flex;
    gap: 10px;
}

#game::-webkit-scrollbar {
    width: 5px;
}
  
  
#game::-webkit-scrollbar-thumb {
    border-radius: 20px;      
    background-color: #7A5C2A;
  }